#API key file
#p_k.json
#config.py

#Packages
#venv/
lib
lib6

#IDE files
.idea/

#Folders
node_modules
.vscode

#Misc
#package-lock.json
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
*.pyc
*.pyo

#Mac folders
.DS_Store